<form class="form-group form-inline col-sm-offset-1" novalidate #countryForm="ngForm" (ngSubmit)="submit()">
  <label class="control-label">Country:
    <input class="form-control" type="text" required minlength="2" name="name" #name="ngModel"
      [(ngModel)]="country.name" />
  </label>
  <label class="control-label">Language:
    <input class="form-control" type="text" required name="language" #language="ngModel"
      [(ngModel)]="country.language" />
  </label>
  <button class="btn btn-primary" type="submit">Add Country</button>
    <div *ngIf="name.errors && name.errors.minlength" class="alert alert-danger">
      Country must be at least 2 characters long
    </div>

</form>