Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@KevinRattan 
ROICourseware
/
Angular
Public
Code
Issues
Pull requests
9
Actions
Projects
Wiki
Security
Insights
Angular/Exercises/Complete Solution/angles-on-books/.gitignore
@ROICourseware
ROICourseware Angular 11 Release
Latest commit 59888a1 on Jan 4, 2021
 History
 1 contributor
46 lines (39 sloc)  631 Bytes
   
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
**/.DS_Store
Thumbs.db
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete