<div class="container-fluid mainPanel">
    <div class="row">
        <h2 class="col-sm-offset-1">Books</h2>
        <div *ngIf="errorMessage" class="alert alert-danger">
            Sorry, there's been an error communicating with the server: {{errorMessage}}
        </div>                
        <book-form (createBook)="addBook($event)"></book-form>
        <div class="col-lg-8 col-sm-offset-1">
            <table class="table table-border table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Cover</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label>Search by title: <input #term (keyup)="search(term.value)"  /></label>
                        </td>
                    </tr>                                    
                </thead>
                <tbody>
                    <tr *ngFor="let book of books | async; trackBy:trackBook">
                          <td><a [routerLink]="['/reviews/' + book.bookId]">{{book.title}}</a></td>
                        <td>{{book.author}}</td>
                        <td><img  src="{{book.cover | noImage}}" alt="{{book.title + ' book cover'}}" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>