<div>
  <div class="row">
      <h2 class="col-sm-offset-1">Countries</h2>
      <div class="col-lg-8 col-sm-offset-1">
          <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>Country</th>
                      <th>Language</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let country of countries; trackBy:trackCountry">
                      <td>
                       <a [routerLink]="['/country/' + country.countryId]"> {{country.name}} </a>
                     </td>
                      <td>{{country.language}}</td>
                  </tr>       
              </tbody>
          </table>
      </div>
  </div>
</div>