<h2>Books</h2>
<app-book-form (createBook)="addBook($event)"></app-book-form>
<div class="row">
    <div class="col-lg-8 col-sm-offset-1">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; trackBy:trackBook">
                    <td><a [routerLink]="['/reviews/' + book.bookId]"> {{book.title}}</a></td>
                    <td>{{book.author}}</td>
                    <td>
                        <img  src="{{book.cover | noImage}}" 
                             alt="{{book.title + ' book cover'}}" />
                    </td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>