<h1>Books</h1>
<app-book-form (createBook)="addBook($event)"></app-book-form>
<div *ngIf="errorMessage" class="alert alert-danger">
    Sorry, there's been an error communicating with the server: {{errorMessage}}
</div> 
<div class="row">
    <div class="col-lg-8 col-sm-offset-1">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Cover</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                       <label>Search by title:
                          <input name="searchField" [formControl]="searchField" />
                         </label>
                     </td>
                 </tr> 
                <tr *ngFor="let book of books$ | async; trackBy:trackBook"  [@slideUp]>
                    <td><a [routerLink]="['/reviews/' + book.bookId]"> {{book.title}}</a></td>
                    <td>{{book.author}}</td>
                    <td><img  src="{{book.cover | noImage}}"   alt="{{book.title + ' book cover'}}" /></td>
               
                </tr>
            </tbody>
        </table>
    </div>
</div>