<form novalidate [formGroup]="bookForm" 
		(ngSubmit)="add()">
	Title:<input type="text" formControlName="title" />
	Author:<input type="text" formControlName="author" />
  <button type="submit" [disabled]="!bookForm.valid">
        Add Book</button>
        <div *ngIf="bookForm.controls.title.hasError('required') && !bookForm.controls.title.pristine" class="alert alert-danger">Title is required</div>
        <div *ngIf="bookForm.controls.title.hasError('minlength') && !bookForm.controls.title.pristine" class="alert alert-danger">
            Title must be at least 3 characters 
        </div> 
        <div *ngIf="bookForm.controls.title.hasError('pattern') && !bookForm.controls.title.pristine" class="alert alert-danger">
            Only letters and numbers are allowed
        </div> 
      
        <div *ngIf="bookForm.controls.author.hasError('required') && !bookForm.controls.author.pristine" class="alert alert-danger">Author is required</div>
</form>
