<h2>Books</h2>
<app-book-form (createBook)="addBook($event)"> </app-book-form>
<div class="row">
    <div class="col-lg-8 col-sm-offset-1">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; trackBy:trackBook">
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>